</main>
<footer class="main-footer">
    <p>&copy; <%= new Date().getFullYear() %> Copyright ©2025 Oficina de Extensión - IDEXUD. Diseñado y Desarrollado por El Área de Gestión TIC Oficina de Extensión - IDEXUD</p>
</footer>

</body>
</html>